1. Load the Data
Question: Load the dataset using pandas. What is the shape of the dataset? Print the first 5 rows.

In [17]:
import pandas as pd

# Load the dataset
file_path = "C:/Users/SPF_Admin/Downloads/sales_data_week1_500rows.csv"
df = pd.read_csv(file_path)

# What is the shape of the dataset?
print("Shape of the dataset:")
print(df.shape)

# Print the first 5 rows.
print("\nFirst 5 rows of the dataset:")
print(df.head())

Shape of the dataset:
(500, 7)

First 5 rows of the dataset:
   CustomerID         Name   Age     Product  Purchase_Amount Purchase Date  \
0        1000  Steve Davis  51.0      Laptop              NaN    2024-04-20
1        1001  Jane Miller  36.0      Tablet          1805.62    2024-12-22
2        1002    Bob Smith  46.0      Tablet           168.44    2024-04-20
3        1003   Emma Brown  51.0  Smartphone              NaN    2024-01-28
4        1004  Sara Miller  50.0      Tablet           267.39    2024-03-15

  Region
0  South
1  South
2  South
3   West
4  South

Explanation:

- import pandas as pd: This line imports the pandas library and assigns it the alias pd, which is a common convention.
- file_path = "sales_data_week1_500rows.csv": This line defines the path to your CSV file.
- df = pd.read_csv(file_path): This function reads the data from the specified CSV file and loads it into a pandas DataFrame called df. A DataFrame is a 2-dimensional labeled data structure with columns of potentially different types, similar to a spreadsheet or SQL table.
- print(df.shape): The .shape attribute of a DataFrame returns a tuple representing its dimensions (number of rows, number of columns).
- print(df.head()): The .head() method, by default, returns the first 5 rows of the DataFrame. You can pass an integer argument (e.g., df.head(10)) to get a different number of rows.

2. Missing Values
- Question: How many missing values are there in each column?
  - Drop all rows where the Name or Product is missing.
  - Fill missing Region values with 'Unknown'.
  - Fill missing Purchase_Amount with the mean of the column.

In [18]:
# How many missing values are there in each column?
print("\nMissing values in each column (before handling):")
print(df.isnull().sum())

# Drop all rows where the Name or Product is missing.
# The inplace=True argument modifies the DataFrame directly.
df.dropna(subset=['Name', 'Product'], inplace=True)
print(f"\nShape after dropping rows with missing Name or Product: {df.shape}")

# Fill missing Region values with 'Unknown'.
df['Region'].fillna('Unknown', inplace=True)
print("\nMissing values in 'Region' after filling:")
print(df['Region'].isnull().sum()) # Should be 0

# Fill missing Purchase_Amount with the mean of the column.
# First, ensure 'Purchase_Amount' is numeric, converting if necessary
if df['Purchase_Amount'].dtype == 'object':
    df['Purchase_Amount'] = pd.to_numeric(df['Purchase_Amount'], errors='coerce')
    
mean_purchase_amount = df['Purchase_Amount'].mean()
df['Purchase_Amount'].fillna(mean_purchase_amount, inplace=True)
print("\nMissing values in 'Purchase_Amount' after filling:")
print(df['Purchase_Amount'].isnull().sum()) # Should be 0

print("\nMissing values in each column (after handling specific columns):")
print(df.isnull().sum())

Missing values in each column (before handling):
CustomerID           0
Name                 4
Age                 21
Product             87
Purchase_Amount     26
Purchase Date        0
Region             102
dtype: int64

Shape after dropping rows with missing Name or Product: (410, 7)

Missing values in 'Region' after filling:
0

Missing values in 'Purchase_Amount' after filling:
0

Missing values in each column (after handling specific columns):
CustomerID          0
Name                0
Age                17
Product             0
Purchase_Amount     0
Purchase Date       0
Region              0
dtype: int64

C:\Users\SPF_Admin\AppData\Local\Temp\ipykernel_20820\4199667703.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Region'].fillna('Unknown', inplace=True)
C:\Users\SPF_Admin\AppData\Local\Temp\ipykernel_20820\4199667703.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Purchase_Amount'].fillna(mean_purchase_amount, inplace=True)

- df.isnull(): This method returns a DataFrame of the same shape as df but with boolean values: True for missing (NaN) values and False otherwise.
- .sum(): When applied after isnull(), this sums the True values (which are treated as 1) for each column, giving the count of missing values per column.
- df.dropna(subset=['Name', 'Product'], inplace=True):
  - .dropna(): This method is used to remove missing values.
  - subset=['Name', 'Product']: This specifies that rows should be dropped only if there are missing values in the 'Name' OR 'Product' columns.
  - inplace=True: This modifies the DataFrame df directly. Without it, the method would return a new DataFrame with the rows dropped, and df would remain unchanged.
- df['Region'].fillna('Unknown', inplace=True):
  - .fillna(): This method is used to fill missing (NaN) values.
  - 'Unknown': This is the value used to replace missing entries in the 'Region' column.
- pd.to_numeric(df['Purchase_Amount'], errors='coerce'): This line attempts to convert the 'Purchase_Amount' column to a numeric type. If any values cannot be converted, errors='coerce' will replace them with NaN (Not a Number). This is important if the column was read as strings (objects) due to non-numeric characters.
- mean_purchase_amount = df['Purchase_Amount'].mean(): This calculates the mean of the 'Purchase_Amount' column, automatically ignoring any NaN values.
- df['Purchase_Amount'].fillna(mean_purchase_amount, inplace=True): This fills the missing NaN values in the 'Purchase_Amount' column with the calculated mean.

3. Data Type and Conversion
- Convert the Purchase Date column to datetime format.
- Create a new column called Purchase_Year extracted from the Purchase Date.

In [19]:
# Convert the Purchase Date column to datetime format.
# Using errors='coerce' will turn unparseable dates into NaT (Not a Time).
if 'Purchase Date' in df.columns: # Check if column exists before processing
    df['Purchase Date'] = pd.to_datetime(df['Purchase Date'], errors='coerce')

    # Create a new column called Purchase_Year extracted from the Purchase Date.
    # The .dt accessor is used to access datetime-like properties.
    df['Purchase_Year'] = df['Purchase Date'].dt.year

    print("\nData types after 'Purchase Date' conversion:")
    print(df[['Purchase Date', 'Purchase_Year']].dtypes)
    print("\nFirst 5 rows showing 'Purchase Date' and 'Purchase_Year':")
    print(df[['Purchase Date', 'Purchase_Year']].head())
else:
    print("\n'Purchase Date' column not found for conversion.")

Data types after 'Purchase Date' conversion:
Purchase Date    datetime64[ns]
Purchase_Year             int32
dtype: object

First 5 rows showing 'Purchase Date' and 'Purchase_Year':
  Purchase Date  Purchase_Year
0    2024-04-20           2024
1    2024-12-22           2024
2    2024-04-20           2024
3    2024-01-28           2024
4    2024-03-15           2024

Explanation:

- pd.to_datetime(df['Purchase Date'], errors='coerce'): This function converts the 'Purchase Date' column to pandas datetime objects.
  - errors='coerce': If any date string cannot be parsed into a valid date, it will be set to NaT (Not a Time), which is pandas' equivalent of NaN for datetime objects.
- df['Purchase Date'].dt.year:
  - .dt: This is an accessor object for datetime-like properties of the Series (in this case, the 'Purchase Date' column, which is now a Series of datetime objects).
  - .year: This extracts the year component from each datetime object in the Series.
The result is assigned to a new column called 'Purchase_Year'.

4. Column Renaming and Formatting
- Rename all columns to lowercase and replace spaces with underscores (e.g., Purchase Date → purchase_date).
- Rename purchase_amount to amount_usd.

In [20]:
# Rename all columns to lowercase and replace spaces with underscores.
original_columns = df.columns.tolist() # Save original for comparison if needed
df.columns = df.columns.str.lower().str.replace(' ', '_')
print("\nColumn names after converting to lowercase and replacing spaces:")
print(df.columns.tolist())

# Rename purchase_amount to amount_usd.
# First, check if 'purchase_amount' (now 'purchase_amount' if it existed) is in the new column names
if 'purchase_amount' in df.columns:
    df.rename(columns={'purchase_amount': 'amount_usd'}, inplace=True)
    print("\nColumn names after renaming 'purchase_amount' to 'amount_usd':")
    print(df.columns.tolist())
elif 'amount_usd' in df.columns: # If it was already named amount_usd (e.g. if original was Amount_USD)
    print("\nColumn 'amount_usd' already exists or 'purchase_amount' was not found.")
else:
    print("\nNeither 'purchase_amount' nor 'amount_usd' found for renaming operation.")


print("\nFirst 5 rows after all column renaming:")
print(df.head())

Column names after converting to lowercase and replacing spaces:
['customerid', 'name', 'age', 'product', 'purchase_amount', 'purchase_date', 'region', 'purchase_year']

Column names after renaming 'purchase_amount' to 'amount_usd':
['customerid', 'name', 'age', 'product', 'amount_usd', 'purchase_date', 'region', 'purchase_year']

First 5 rows after all column renaming:
   customerid         name   age     product   amount_usd purchase_date  \
0        1000  Steve Davis  51.0      Laptop  1057.789098    2024-04-20
1        1001  Jane Miller  36.0      Tablet  1805.620000    2024-12-22
2        1002    Bob Smith  46.0      Tablet   168.440000    2024-04-20
3        1003   Emma Brown  51.0  Smartphone  1057.789098    2024-01-28
4        1004  Sara Miller  50.0      Tablet   267.390000    2024-03-15

  region  purchase_year
0  South           2024
1  South           2024
2  South           2024
3   West           2024
4  South           2024

Explanation:

- df.columns.str.lower(): This converts all column names to lowercase. df.columns returns an Index object containing column labels, and .str provides access to string methods for each element.
- .str.replace(' ', '_'): This replaces all spaces in the column names with underscores.
- df.rename(columns={'old_name': 'new_name'}, inplace=True):
  - .rename(): This method is used to alter axes labels.
  - columns={'purchase_amount': 'amount_usd'}: This dictionary specifies the mapping from the old column name ('purchase_amount') to the new column name ('amount_usd').
  - inplace=True: Modifies the DataFrame directly.

5. Filtering and Sorting
- Filter rows where amount_usd is greater than 1000.
- Sort the filtered data by amount_usd in descending order.

In [21]:
# Ensure 'amount_usd' column exists and is numeric for filtering.
if 'amount_usd' in df.columns:
    # Convert to numeric just in case it was misinterpreted, coercing errors to NaN
    df['amount_usd'] = pd.to_numeric(df['amount_usd'], errors='coerce')
    # Drop rows if amount_usd became NaN after coercion, which can happen if it had non-numeric text
    df.dropna(subset=['amount_usd'], inplace=True)

    # Filter rows where amount_usd is greater than 1000.
    # Using .copy() is good practice here to avoid SettingWithCopyWarning on the new DataFrame.
    df_filtered = df[df['amount_usd'] > 1000].copy()
    print(f"\nShape of data filtered by amount_usd > 1000: {df_filtered.shape}")

    # Sort the filtered data by amount_usd in descending order.
    df_sorted = df_filtered.sort_values(by='amount_usd', ascending=False)

    print("\nFirst 5 rows of filtered (amount_usd > 1000) and sorted data:")
    print(df_sorted.head())
else:
    print("\n'amount_usd' column not found for filtering and sorting.")
    df_sorted = pd.DataFrame() # Create an empty DataFrame if column doesn't exist

Shape of data filtered by amount_usd > 1000: (236, 8)

First 5 rows of filtered (amount_usd > 1000) and sorted data:
     customerid        name   age     product  amount_usd purchase_date  \
469        1469  Sara Davis  23.0  Smartphone     1991.76    2024-07-22
435        1435    Jane Ali   NaN      Laptop     1987.35    2024-02-09
315        1315     Bob Lee  57.0  Smartphone     1979.56    2024-10-19
258        1258  Emma Brown  22.0      Laptop     1975.28    2024-01-13
310        1310   Linda Lee  50.0      Laptop     1974.03    2024-08-20

      region  purchase_year
469    North           2024
435     East           2024
315  Unknown           2024
258     West           2024
310     West           2024

Explanation:

- df['amount_usd'] = pd.to_numeric(df['amount_usd'], errors='coerce'): Ensures the column is numeric.
- df.dropna(subset=['amount_usd'], inplace=True): Removes any rows where amount_usd became NaN during numeric conversion.
- df[df['amount_usd'] > 1000]: This is boolean indexing.
  - df['amount_usd'] > 1000: This part creates a boolean Series (True/False) where True corresponds to rows where the 'amount_usd' is greater than 1000.
  - df[...]: Passing this boolean Series inside the square brackets of the DataFrame df selects only the rows where the condition is True.
  - .copy(): Creates a new DataFrame df_filtered rather than a view, preventing potential SettingWithCopyWarning if df_filtered is modified later.
- df_filtered.sort_values(by='amount_usd', ascending=False):
  - .sort_values(): This method sorts the DataFrame.
  - by='amount_usd': Specifies the column to sort by.
  - ascending=False: Sorts the values in descending order.

6. Data Aggregation
- Group the data by region and calculate: Total number of purchases, Average purchase amount.

In [22]:
if 'region' in df.columns and 'amount_usd' in df.columns:
    # Group the data by region
    grouped_by_region = df.groupby('region')

    # Calculate total number of purchases (count of rows in each group)
    # and average purchase amount.
    # We can use .agg() for multiple aggregations.
    # 'size' will count rows per group for total_purchases.
    # 'mean' will calculate average for amount_usd.
    aggregated_data = grouped_by_region.agg(
        total_purchases=('region', 'size'),  # Count occurrences for total purchases
        average_purchase_amount=('amount_usd', 'mean') # Calculate mean for average amount
    )

    # Alternatively, for a simpler approach if just these two are needed:
    # total_purchases_per_region = grouped_by_region.size().rename('total_purchases')
    # average_amount_per_region = grouped_by_region['amount_usd'].mean().rename('average_purchase_amount')
    # aggregated_data = pd.concat([total_purchases_per_region, average_amount_per_region], axis=1)


    print("\nAggregated data by region:")
    print(aggregated_data)
else:
    print("\n'region' or 'amount_usd' column not found for aggregation.")
    aggregated_data = pd.DataFrame()

Aggregated data by region:
         total_purchases  average_purchase_amount
region
East                  92              1073.592026
North                 79              1154.316652
South                 73               944.079814
Unknown               80              1065.436910
West                  86              1041.619408

Explanation:

- df.groupby('region'): This method groups the DataFrame by unique values in the 'region' column. It creates a DataFrameGroupBy object.
- .agg(...): The .agg() method allows you to apply multiple aggregation functions to the grouped data.
  - total_purchases=('region', 'size'): This creates a new column 'total_purchases'. It applies the size function to the 'region' column within each group. size counts the number of rows in each group. You could use any existing non-null column with 'count' as well, e.g., ('name', 'count').
  - average_purchase_amount=('amount_usd', 'mean'): This creates a new column 'average_purchase_amount' by calculating the mean of the 'amount_usd' column for each region group.
- The result aggregated_data is a new DataFrame where the index is the 'region', and columns are 'total_purchases' and 'average_purchase_amount'.

7. New Column Creation
- Create a column category:
If amount_usd ≥1000 → “High”
500≤ amount_usd <1000 → “Medium”
Else → “Low”

In [23]:
if 'amount_usd' in df.columns:
    # Define a function to apply the categorization logic
    def categorize_purchase(amount):
        if pd.isna(amount): # Handle potential NaN values
            return "Unknown" 
        if amount >= 1000:
            return "High"
        elif 500 <= amount < 1000:
            return "Medium"
        else:
            return "Low"

    # Apply the function to the 'amount_usd' column to create the 'category' column
    df['category'] = df['amount_usd'].apply(categorize_purchase)

    print("\nFirst 5 rows with the new 'category' column:")
    print(df[['amount_usd', 'category']].head())

    print("\nValue counts for the 'category' column:")
    print(df['category'].value_counts())
else:
    print("\n'amount_usd' column not found for category creation.")

First 5 rows with the new 'category' column:
    amount_usd category
0  1057.789098     High
1  1805.620000     High
2   168.440000      Low
3  1057.789098     High
4   267.390000      Low

Value counts for the 'category' column:
category
High      236
Medium     98
Low        76
Name: count, dtype: int64

Explanation:

- def categorize_purchase(amount): ...: This defines a custom Python function that takes an amount as input and returns the corresponding category string based on the specified conditions. It also handles potential NaN values in amount_usd by assigning them to an "Unknown" category.
- df['amount_usd'].apply(categorize_purchase):
.apply(): This method applies a function along an axis of the DataFrame. When used on a Series (like df['amount_usd']), it applies the function element-wise.
categorize_purchase: The function to be applied to each value in the 'amount_usd' column.
- The results are assigned to a new column called 'category' in the DataFrame df.
- df['category'].value_counts(): This method returns a Series containing counts of unique values in the 'category' column, which is useful for seeing the distribution of categories.

8. Export
- Save the cleaned and transformed DataFrame to a new CSV file.

In [24]:
# Define the output file path
output_file_path = "cleaned_sales_data.csv" # Using a new name

# Save the DataFrame to a CSV file
# index=False prevents pandas from writing the DataFrame index as a column in the CSV.
df.to_csv(output_file_path, index=False)

print(f"\nCleaned and transformed data saved to '{output_file_path}'")
print("\nFinal shape of the DataFrame being saved:")
print(df.shape)
print("\nFirst 5 rows of the final DataFrame being saved:")
print(df.head())

Cleaned and transformed data saved to 'cleaned_sales_data.csv'

Final shape of the DataFrame being saved:
(410, 9)

First 5 rows of the final DataFrame being saved:
   customerid         name   age     product   amount_usd purchase_date  \
0        1000  Steve Davis  51.0      Laptop  1057.789098    2024-04-20
1        1001  Jane Miller  36.0      Tablet  1805.620000    2024-12-22
2        1002    Bob Smith  46.0      Tablet   168.440000    2024-04-20
3        1003   Emma Brown  51.0  Smartphone  1057.789098    2024-01-28
4        1004  Sara Miller  50.0      Tablet   267.390000    2024-03-15

  region  purchase_year category
0  South           2024     High
1  South           2024     High
2  South           2024      Low
3   West           2024     High
4  South           2024      Low

Explanation:

- output_file_path = "cleaned_sales_data_with_explanations.csv": Defines the name for the output CSV file.
- df.to_csv(output_file_path, index=False):
  - .to_csv(): This method writes the DataFrame to a CSV file.
  - output_file_path: The first argument is the path (including filename) where the CSV will be saved.
  - index=False: This argument prevents pandas from writing the DataFrame's index as a column in the CSV file. If you want to include the index, you can set it to True or omit this argument (as True is the default for writing the index).